<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AboutToBoil_OnPot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AboutToBoil_OnPot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{1,207},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AboutToBoil_OnPot3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{1,413},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AboutToBoil_OnPot4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{1,619},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AboutToBoil_OnPot5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{1,825},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AboutToBoil_OnPot6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{1,1031},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AboutToBoil_OnPot7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{1,1237},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AboutToBoil_OnPot8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{1,1443},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AboutToBoilWater.png</string>
            <key>size</key>
            <string>{302,1648}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce5b0e558af40b3ded13d2f733dbe8c4:9e49b209e204896f5a64f87b5beed30d:f067a7fbedc3f1b6400bd61da4c56e72$</string>
            <key>textureFileName</key>
            <string>AboutToBoilWater.png</string>
        </dict>
    </dict>
</plist>
