<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boiling_OnPot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boiling_OnPot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{1,207},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boiling_OnPot3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{1,413},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boiling_OnPot4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{1,619},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boiling_OnPot5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{1,825},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boiling_OnPot6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{1,1031},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boiling_OnPot7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{1,1237},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boiling_OnPot8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{1,1443},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BoilingWater.png</string>
            <key>size</key>
            <string>{302,1648}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84ead90b30df11f2bb45016847d0236a:a4519eda1e8177655a412d4c89a914c0:84c1a24d2968a5b1529ee598e2be64e7$</string>
            <key>textureFileName</key>
            <string>BoilingWater.png</string>
        </dict>
    </dict>
</plist>
