<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>StoveFire_MediumHeat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StoveFire_MediumHeat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,61}</string>
                <key>spriteSourceSize</key>
                <string>{141,61}</string>
                <key>textureRect</key>
                <string>{{1,57},{141,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>StoveFire_MediumHeat.png</string>
            <key>size</key>
            <string>{143,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24338244cff6cc445227883c16d4a2ea:a13dd06e3473b0214ba2e264f637d1ce:9b20cb7a45e014c2f0702e29a5dc58fb$</string>
            <key>textureFileName</key>
            <string>StoveFire_MediumHeat.png</string>
        </dict>
    </dict>
</plist>
